@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}
.cookies {
  color: white;
  padding-top: 100px;
  margin-left: 67px;
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
}
header {
  position: relative;
  background-color: rgb(32, 32, 32);
  .divan {
    position: absolute;
    background-image: url(/img/divan.png);
    width: 750px;
    height: 475px;
    bottom: -160px;
    right: 0px;
  }
}
main {
  .about {
    background-color: rgb(42, 42, 42);
  }
}

.header {
  display: flex;
  padding: 86px 65px;
  align-items: center;
  nav {
    margin: 0 auto;
    ul {
      display: flex;
      text-transform: uppercase;
      li {
        margin-right: 48px;
        a {
          color: white;
          line-height: 30px;
          &:hover {
            border-bottom: 2px solid white;
            padding-bottom: 4px;
          }
        }
      }
    }
  }
}
.madeBy {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  width: 70%;
  margin: 0 auto;
  z-index: 5;
  .made {
    font-style: italic;
    font-size: 25px;
    font-weight: 500;
    z-index: 2;
  }
  .laArch {
    font-size: 65px;
    font-weight: 500;
    z-index: 2;
  }
  .newPer {
    color: #e2fe39;
    font-size: 65px;
    font-weight: 900;
    text-align: end;
    z-index: 2;
  }
  .nestaR {
    font-size: 65px;
    font-weight: 500;
    z-index: 2;
  }
  .lest {
    position: absolute;
    bottom: -55px;
    left: -45px;
    z-index: 1;
  }
  .lest2 {
    position: absolute;
    top: 59px;
    right: -92px;
    z-index: 1;
  }
  img {
    border-radius: 5px;
  }
}
.contactUs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  z-index: 2;
  padding-bottom: 323px;
  a {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 86px;
    span {
      font-size: 25px;
      font-weight: 500;
      margin-right: 23px;
    }
  }
}
.about {
  .cookies {
    color: white;
    padding-top: 150px;
    margin-left: 67px;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
  }
  .mission {
    color: white;
    margin-top: 54px;
    margin-left: 67px;
    h2 {
      font-size: 35px;
      font-weight: 400;
    }
    .boldH2 {
      font-weight: 900;
    }
    .colorH2 {
      font-weight: 900;
      color: #e2fe39;
    }
  }
  .aboutCompany {
    display: flex;
    width: 100%;
    .logotype {
      width: 30%;
      margin-left: 196px;
      margin-top: 110px;
    }
    .aboutText {
      width: 50%;
      margin-top: 110px;
      p {
        color: white;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
      }
    }
  }
  .contactUs {
    padding-bottom: 100px;
  }
}
.service {
  background-color: rgb(32, 32, 32);
  padding-bottom: 100px;
  .cookies {
    color: white;
    padding-top: 100px;
    margin-left: 67px;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
  }
  .qualityD {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 67px;
    h2 {
      font-size: 35px;
      font-weight: 400;
    }
    .colorH2 {
      font-weight: 900;
      color: #e2fe39;
    }
  }
  .accordion {
    margin-left: 67px;
    margin-right: 50px;
    label {
      display: flex;
      position: relative;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      border-top: 2px solid white;
      color: rgb(255, 255, 255);
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
    }
    .accordion-toggle:checked ~ section {
      height: auto;
    }
    .accordion-toggle:checked ~ label:after {
      transform: rotate(45deg);
      top: 16px;
    }
    .accordion-toggle {
      display: none;
    }
    label:after {
      content: '';
      position: absolute;
      top: 12px;
      right: 20px;
      width: 12px;
      height: 12px;
      border-left: 2px solid white;
      border-top: 2px solid white;
      transform: rotate(-135deg);
      transition: 0.4s transform;
    }
    section {
      display: flex;
      overflow: hidden;
      height: 0;
      transition: all .4s;

      .project {
        width: 40%;
        margin-bottom: 20px;
      }
      .aboutProject {
        color: white;
        width: 50%;
        p {
          margin-bottom: 10px;
          text-align: justify;
        }
      }
    }
  }
}
.team {
  background-color: rgb(42, 42, 42);
  .we {
    margin-top: 50px;
    margin-left: 67px;
    margin-right: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    .worker {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-bottom: 30px;
      }
      .nameW {
        font-size: 25px;
        font-weight: 500;
        color: white;
      }
      .surW {
        font-size: 25px;
        font-weight: 900;
        color: white;
      }
      .profW {
        font-size: 25px;
        font-weight: 500;
        color: white;
      }
    }
  }
}
.feedback {
  background-image: url(/img/Chair.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  .feedbackForm {
    width: 50%;
    color: black;
    text-transform: uppercase;
    padding-bottom: 250px;
    padding-top: 91px;
    padding-left: 67px;
    .feedA {
      width: 100%;
      h2 {
        font-size: 35px;
        font-weight: 500;
        span {
          font-weight: 900;
        }
      }
      .feedText {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        margin-top: 35px;
      }
    }
    .formRow {
      display: flex;
      margin: 15px 0;
      justify-content: space-between;
      select {
        padding-left: 10px;
        width: 70%;
        height: 40px;
        border: 2px solid black;
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
        color: rgb(0, 0, 0);
      }
      .formInput {
        width: 100%;
        input {
          width: 100%;
          height: 40px;
          border: 2px solid black;
          padding: 10px;
          font-size: 12px;
          font-weight: 400;
          font-style: italic;
          color: rgb(146, 146, 146);
        }
        textarea {
          width: 100%;
          height: 10em;
          border: 2px solid black;
          padding: 10px;
          font-size: 12px;
          font-weight: 400;
          font-style: italic;
          color: rgb(146, 146, 146);
        }
      }
    }
    input[type=submit] {
      display: flex;
      background-color: rgb(42, 86, 241);
      border: none;
      color: white;
      padding: 16px 32px;
      font-size: 16px;
      text-decoration: none;
      margin: 4px 2px;
      margin-left: auto;
      cursor: pointer;
    }
  }
}
.quote {
  .container {
    width: 100%;
  }
  background-color: black;
  padding: 80px;
  .quoteBK {
    width: 100%;
    blockquote {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-weight: 500;
        font-size: 35px;
        color: white;
        span {
          font-weight: 700;
          color: #e2fe39;
        }
        &:nth-child(1) {
          margin-left: -100px;
        }
        &:nth-child(2) {
          margin-left: 100px;
        }
        &:nth-child(3) {
          margin-left: -150px;
        }
        &:nth-child(4) {
          margin-left: 180px;
        }
        &:nth-child(5) {
          font-size: 20px;
          font-weight: 400;
          margin-left: 400px;
          margin-top: 50px;
        }
      }
    }
  }
}
.map {
  background-color: rgb(32, 32, 32);
  .cont {
    display: flex;
    padding-left: 67px;
    margin-top: 50px;
    padding-bottom: 50px;
    map {
      iframe {
        width: 500px;
        height: 100%;
      }
    }
    .adr {
      margin-left: 100px;
      h2 {
        margin-bottom: 50px;
        font-size: 50px;
        font-weight: 500;
        color: white;
        span {
          font-weight: 800;
        }
      }
      p {
        color: white;
        font-size: 25px;
        font-weight: 500;

        &:nth-child(5) {
          margin-top: 30px;
        }
      }
    }
    .icons {
      display: flex;
      margin-top: 20px;
      div {
        filter: grayscale(50%);
      }
      div:hover {
        filter: grayscale(0%);
      }
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 50px;
}
@media (max-width: 1439px) {
  .container {
    width: 100%;
  }
  .service {
    .accordion {
      section {
        .project {
          width: 70%;
        }
      }
    }
  }
}
@media (max-width: 1170px) {
  header {
    .divan img {
      width: 70%;
    }
  }
  .madeBy {
    .made {
      font-size: 17px;
    }
    .laArch {
      font-size: 45px;
    }
    .newPer {
      font-size: 45px;
    }
    .nestaR {
      font-size: 45px;
    }
  }
  .aboutCompany {
    img {
      width: 70%;
    }
  }
}
@media (max-width: 1000px) {
  .madeBy {
    .made {
      font-size: 14px;
    }
    .laArch {
      font-size: 35px;
    }
    .newPer {
      font-size: 35px;
    }
    .nestaR {
      font-size: 35px;
    }
    .lest {
      img {
        width: 70%;
      }
    }
    .lest2 {
      img {
        width: 70%;
      }
    }
  }
  .contactUs {
    a {
      span {
        font-size: 20px;
      }
    }
    img {
      width: 20%;
    }
  }
  .about {
    .cookies {
      font-size: 20px;
    }
    .mission {
      h2 {
        font-size: 28px;
        font-weight: 400;
      }
    }
    .aboutCompany {
      .logotype {
        width: 30%;
        margin-left: 100px;
        margin-top: 50px;
      }
      .aboutText {
        width: 50%;
        margin-top: 50px;
        p {
          font-size: 16px;
        }
      }
    }
  }
  .service {
    .cookies {
      font-size: 20px;
    }
    .qualityD {
      h2 {
        font-size: 28px;
      }
    }
    .accordion {
      margin-left: 67px;
      margin-right: 50px;
      section {
        display: flex;
        gap: 20px;
      }
      label {
        font-size: 12px;
      }
      .project {
        width: 40%;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
      .aboutProject {
        p {
          font-size: 14px;
        }
      }
    }
  }
  .team {
    .cookies {
      font-size: 20px;
    }
    .we {
      gap: 10px;
      .worker {
        width: 50%;
        img {
          width: 100%;
        }
        .nameW {
          font-size: 18px;
        }
        .surW {
          font-size: 18px;
        }
        .profW {
          font-size: 18px;
        }
      }
    }
  }
  .feedback {
    .feedbackForm {
      width: 90%;
    }
  }
  .quote {
    .quoteBK {
      blockquote {
        p {
          font-size: 20px;
          &:nth-child(5) {
            font-size: 14px;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .map {
    .cookies {
      font-size: 20px;
    }
    .cont {
      margin-right: 67px;
      justify-content: space-between;
      map {
        iframe {
          width: 350px;
        }
      }
      .adr {
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  header {
    .divan {
      width: 70%;
      img {
        width: 100%;
      }
    }
  }
  .header {
    nav {
      margin: 0 auto;
      ul {
        li {
          &:first-child {
            margin-left: 10px;
          }
          margin-right: 10px;
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  .madeBy {
    .lest2 {
      position: absolute;
      top: 59px;
      right: -80px;
      z-index: 1;
    }
  }
  .service {
    .cookies {
      font-size: 20px;
    }
    .qualityD {
      h2 {
        font-size: 28px;
      }
    }
    .accordion {
      margin-left: 67px;
      margin-right: 50px;
      section {
        display: flex;
        gap: 10px;
      }
      label {
        font-size: 12px;
      }
      .project {
        width: 40%;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
      .aboutProject {
        p {
          font-size: 10px;
        }
      }
    }
  }
  .map {
    .cont {
      flex-direction: column;
      padding-left: 67px;
      margin-top: 50px;
      padding-bottom: 50px;
      map {
        iframe {
          width: 100%;
          height: 100%;
          min-height: 200px;
        }
      }
      .adr {
        margin-left: 0px;
        margin-top: 20px;
        h2 {
          display: none;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 660px) {
  .feedback {
    .feedbackForm {
      padding-bottom: 100px;
      padding-top: 30px;
      padding-left: 67px;
      .feedA {
        h2 {
          font-size: 20px;
        }
        .feedText {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .container {
    padding: 0 30px;
    .cookies {
      margin: 0;
    }
    .mission {
      margin: 0;
      margin-top: 30px;
    }
    .aboutCompany {
      margin-top: 50px;
      justify-content: space-between;
      .logotype {
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
      }
      .aboutText {
        margin: 0;
        width: 60%;
      }
    }
    .contactUs {
      padding-bottom: 40px;
      a {
        margin-top: 30px;
      }
    }
    .cookies {
      padding-top: 40px;
    }
    .qualityD {
      margin: 30px 0;
    }
    .feedbackForm {
      width: 100%;
      padding: 30px 0;
    }
    .cont {
      margin: 0;
      padding: 0;
      map {
        margin-top: 20px;
      }
      .adr {
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          &:nth-child(5) {
            margin-top: 15px;
          }
        }
        .icons {
          margin-top: 10px;
        }
      }
    }
  }
  .map {
    padding-bottom: 30px;
  }

  .header {
    flex-direction: column;
    padding: 20px 0;
    gap: 10px;
    ul {
      gap: 30px;
      li {
        margin: 0 !important;
      }
    }
  }
  .madeBy {
    .lest,
    .lest2 {
      display: none;
    }
  }
  .team {
    .we {
      flex-direction: column;
      align-items: center;
    }
  }
  .quote {
    .quoteBK {
      blockquote {
        p {
          width: 100%;
          font-size: 18px;
          margin: 0 !important;
          &:nth-child(5) {
            font-size: 12px;
            margin-left: 120px !important;
            margin-top: 50px !important;
          }
        }
      }
    }
  }
  .service {
    .accordion {
      margin-left: 0;
      margin-right: 0;
      label {
        padding: 0;
        &:after {
          right: 0;
        }
      }
      section {
        display: flex;
        flex-direction: column;
        .project {
          width: 100%;
        }
        .aboutProject {
          width: 100%;
          p {
            margin-bottom: 14px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .container {
    .header {
      nav {
        ul {
          gap: 15px;
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .container {
    padding: 0 20px;
  }
  .feedback {
    .container {
      .feedbackForm {
        padding-left: 0;
      }
    }
  }
  .contactUs {
    width: 100%;
  }
  .madeBy {
    width: 100%;
    padding: 0 20px;
    .made {
      font-size: 16px !important;
    }
    p {
      font-size: 24px !important;
    }
  }
  .header {
    ul {
      gap: 15px;
    }
  }
  .about {
    .container {
      .cookies {
        padding-top: 200px;
        font-size: 18px;
      }
      .mission {
        h2 {
          font-size: 16px;
        }
      }
      .aboutCompany {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logotype {
          margin-bottom: 15px;
        }
        .aboutText {
          width: 100%;
        }
      }
    }
  }
  .feedback {
    background: white;
    .feedbackForm {
      padding-bottom: 10px;
      padding-top: 5px;
      padding-left: 67px;
      .feedA {
        h2 {
          margin-top: 10px;
          font-size: 20px;
        }
        .feedText {
          font-size: 18px;
        }
      }
      input[type=submit] {
        padding: 10px 28px;
      }
    }
  }
  .service {
    .container {
      .cookies {
        font-size: 18px;
      }
    }
  }
  .quote {
    padding: 30px;
    .quoteBK {
      blockquote {
        p:nth-child(5) {
          padding: 0;
          margin: 30px 0 0 0 !important;
          text-align: right;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .header {
    flex-direction: column;
    padding: 20px 0;
    gap: 10px;
    ul {
      gap: 5px;
      li {
        margin: 0 !important;
      }
    }
  }
  .team {
    .we {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: 370px) {
  header {
    .container {
      padding: 0 10px;
      .header {
        nav {
          ul {
            gap: 7px;
          }
        }
      }
    }
  }
}
